<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean class="com.app.bean.Student" id="student" lazy-init="true">
		<!--Setter Injection-->
		<property name="sid" value="10"></property>
		<property name="sname" value="sachin"></property>
		<property name="sage" value="55"></property>
	</bean>
</beans>