<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean class="com.app.bean.Student" id="student" lazy-init="true">
		<!--Constructor Injection-->
		<constructor-arg name="sid" value="18"/>
		<constructor-arg name="sname" value="kholi"/>
		<constructor-arg name="sage" value="37"/>
	</bean>
</beans>